<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Golang CRUD</title>
</head>

<body>

    <div class="container mt-5">
        <h3>Data Pengguna</h3>
        <a href="/pengguna/add" class="btn btn-sm btn-primary">Tambah Data</a>
        <hr/>
        <table class="table table-sriped table-hover">
            <thead>
                <tr>
                    <th>Nama Lengkap</th>
                    <th>NIK</th>
                    <th>Jenis Kelamin</th>
                    <th>Tempat Lahir</th>
                    <th>Tanggal Lahir</th>
                    <th>Alamat</th>
                    <th>No.HP</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {{ range .pengguna }}
                    <tr>
                        <td>{{ .NamaLengkap }}</td>
                        <td>{{ .NIK }}</td>
                        <td>{{ .JenisKelamin }}</td>
                        <td>{{ .TempatLahir }}</td>
                        <td>{{ .TanggalLahir }}</td>
                        <td>{{ .Alamat }}</td>
                        <td>{{ .NoHp }}</td>
                        <td>
                            <a href="/pengguna/edit?id={{.Id}}" class="btn btn-sm btn-warning">Edit</a>
                            <a href="/pengguna/delete?id={{.Id}}" onclick="return confirm('Aapakah anda yakin ingin menghapus data?')" class="btn btn-sm btn-danger">Hapus</a>
                        </td>
                    </tr>
                {{ end }}
            </tbody>
        </table>
    </div>

</body>

</html>